<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
          aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-floor-plan"></i>
          <span class="menu-title">Master</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="http://localhost:3000/Category">Category</a></li>
            <!-- <li class="nav-item"> <a class="nav-link" href="http://localhost:3000/Category">Category</a></li> -->
          </ul>
        </div>

        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="http://localhost:3000/Product">Product</a></li>

          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link mt-2" href="Users.html" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-card-text-outline"></i>
          <span class="menu-title">Shop Detail</span>

        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
          <i class="menu-icon mdi mdi-table"></i>
          <span class="menu-title">Orders</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../pages/tables/basic-table.html">Pending</a></li>
          </ul>
        </div>
        <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../pages/tables/basic-table.html">Processing</a></li>
          </ul>
        </div>

        <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../pages/tables/basic-table.html">Shipped</a></li>
          </ul>
        </div>


        <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../pages/tables/basic-table.html">Delivered</a></li>
          </ul>
        </div>

      </li>

      <li class="nav-item">
        <a class="nav-link mt-2" href="http://localhost:3000/logout" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-card-text-outline"></i>
          <span class="menu-title">LogOut</span>

        </a>
      </li>

    </ul>
  </nav>